.text-field
  = f.label :email
  = f.email_field :email
.password-field
  = f.label :password
  = f.password_field :password
.password-field
  = f.label :password_confirmation
  = f.password_field :password_confirmation