- content_for :head do
  = stylesheet_link_tag 'pygments'
.intro-text
  %h2
    = lesson.name
.clear
.intro-wrapper#intro
  %section.intro-content
    .well
      %p
        = lesson.description
      .right
        = link_to "Awesome! Let's start the lesson!", '#', id: 'start-lesson', class: 'data-no-turbolink'

#lesson-content
  %section
    .video-wrapper
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "506", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/#{lesson.video_url}", :webkitallowfullscreen => "", :width => "900"}
.bigtop-pad
.make-space-left
  - course_progress
  .progress-bar-indication
    %span.meter{style: "width: #{@percentage}"}
  %p.center
    Course Progress
.completion-section.data-no-turbolink
  - if current_course_customer?(course)
    - if lesson_completed?
      #lesson-incomplete
        = link_to 'Mark this lesson completed', lesson_completed_path(lesson_id: lesson.id, course_id: course.id), remote: true, class: 'btn'
      #lesson-complete
        = link_to 'Mark this lesson incomplete', lesson_completed_path(lesson_id: lesson.id, course_id: course.id), remote: true, class: 'btn'
    - else
      #lesson-complete
        = link_to 'Mark this lesson completed', lesson_completed_path(lesson_id: lesson.id, course_id: course.id), remote: true, class: 'btn'
      #lesson-incomplete
        = link_to 'Mark this lesson incomplete', lesson_completed_path(lesson_id: lesson.id, course_id: course.id), remote: true, class: 'btn'
    %br
    .right.data-no-turbolink
      - if next_lesson
        = link_to 'Go to Next Lesson', @next_lesson
      - else
        Finished Course!
      - if previous_lesson
        %br
        = link_to 'Go to Previous Lesson', @previous_lesson
  - else
    = link_to 'Buy this Course to continue', new_charge_path(course_id: course.id)
.clear
#lesson-notes-and-discussion
  %ul.accordion-tabs
    %li.tab-header-and-content
      %a.is-active.tab-link{:href => "#"} Lesson Notes
      .tab-content
        = markdown lesson.notes
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Discussion
      .tab-content
        %p
          = commontator_thread(lesson)