.card
  - cache course do
    - if course.new?
      .ribbon-wrapper
        .ribbon NEW
    .card-image
      %img{:alt => "", :src => 'https://i.vimeocdn.com/video/491672516_295x166.jpg'}
    .card-header
      = link_to course.name, course_path(course)
      / = link_to 'Edit', edit_course_lesson_path(course, lesson)
    .card-copy
      %p
        #{course.description.truncate(310)}
      %p.right
        = link_to 'Read more', course, class: 'btn'
    .card-stats
      %ul
        %li
          = course.lessons.count
          %span Lessons
        %li
          = course.level
          %span Experience
        %li
          = course.programming_language
          %span Language