.intro-text
  %h3
    = course.level
  %h3
    = course.device
  %h3
    = course.programming_language
  %h1
    = course.name
  %h4
    = course.headline
  %p
    = course.description
  .lesson-header.center
    - if current_user
      = link_to 'Get Started Now', course_lessons_path(course), class: 'btn'
    - else
      = link_to 'Get Started Now', new_user_path(course: course.id), class: 'btn'
%p.type
  Watch a video to learn more
%section
  .video-wrapper
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "506", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/#{course.video_url}", :webkitallowfullscreen => "", :width => "900"}