.intro-text
  %h1
    Transaction Details
- if admin?
  %h5
    Status: #{charge.state}
  %h5
    User
  %ul
    %li
      = link_to charge.user.display_name, user_path(charge.user)
    %li
      = mail_to charge.user.email
    %li
      Stripe Customer ID: #{charge.customer_id}
  %hr
%h5
  Purchase
%ul
  %li
    Purchase Date: #{charge.created_at.strftime('%d %b %Y')}
  %li
    Purchase Amount: #{number_to_currency(charge.amount, precision: 0)}
  - if admin?
    %li
      Stripe Fee: #{number_to_currency(charge.fee_amount, precision: 2)}
%h5
  Course
%ul
  %li
    = charge.course.name
  %li
    Access expires on #{charge.access_expiration_date.strftime('%d %b %Y')}