!!!
%html
  %head
    = render 'layouts/head'
  %body
    .wrapper-for-content-outside-of-footer
      = render 'layouts/header'
      = render 'layouts/flashes'
      .outer-wrapper
        = yield
    = render 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
